#sentiment-graph-box{
    min-height: 300px;
    height: 40vh;
}
.wordcloud {
    height: 30vh;
}
.cloud-word {
    cursor: pointer;
    transition: text-shadow .3s;
}
.cloud-word:hover {
    text-shadow: 0 0 15px #ffffff;
    text-decoration: underline;
}
.loader-placeholder {
    height: 2px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f8f9fa;
}
.loader-bar:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 2px;
    background-color: #17a2b8;
    animation: loading 1.5s linear infinite;
    animation-delay: 0.5s;
}
@keyframes loading {
    from {left: -100px; width: 20%;}
    50% {width: 40%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
